<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :nickname, class: 'form-control' %>
      <%= f.file_field :image  %>
      <% if @control_ban %>
        <%= f.label :not_ban_this_user %>
        <%= f.radio_button :banned, false, class: 'form-control' %>
        <%= f.label :ban_this_user %>
        <%= f.radio_button :banned, true, class: 'form-control' %>
      <% end %>
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>
