<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :coordinate, placeholder: "Compose new post..." %>
    <%= f.text_area :country,    placeholder: "日本" %>
    <%= f.text_area :province,   placeholder: "東京都" %>
    <%= f.text_area :city,       placeholder: "世田谷区" %>
    <%= f.text_area :address,    placeholder: "日本 東京都世田谷区" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
