<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.hidden_field :coordinate %>
    <%= f.hidden_field :country %>
    <%= f.hidden_field :administrative_area_level_1 %>
    <%= f.hidden_field :address %>
    <%= f.hidden_field :locality %>
    <%= f.hidden_field :ward %>
    <%= f.hidden_field :sublocality_level_1 %>
    <%= f.hidden_field :sublocality_level_2 %>
    <%= f.hidden_field :sublocality_level_3 %>
    <%= f.hidden_field :sublocality_level_4 %>
    <%= f.hidden_field :sublocality_level_5 %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
