<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :name, :placeholder => t('shared._post_form.name_field') %>
    <%= f.text_field :author, :placeholder => t('shared._post_form.creator_field') %>
    <%= f.text_field :year, :placeholder => t('shared._post_form.year_field') %>
    <% if @user.id == Settings.root.user_id %>
      <%= f.text_field :wikipedia_name, :placeholder => t('shared._post_form.wikipedia_name_field') %>
    <% end %>


    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
    <%= f.hidden_field :country %>
    <%= f.hidden_field :administrative_area_level_1 %>
    <%= f.hidden_field :address %>
    <%= f.hidden_field :locality %>
    <%= f.hidden_field :ward %>
    <%= f.hidden_field :sublocality_level_1 %>
    <%= f.hidden_field :sublocality_level_2 %>
    <%= f.hidden_field :sublocality_level_3 %>
    <%= f.hidden_field :sublocality_level_4 %>
    <%= f.hidden_field :sublocality_level_5 %>
    <%= f.hidden_field :country_ja %>
    <%= f.hidden_field :administrative_area_level_1_ja %>
    <%= f.hidden_field :address_ja %>
    <%= f.hidden_field :locality_ja %>
    <%= f.hidden_field :ward_ja %>
    <%= f.hidden_field :sublocality_level_1_ja %>
    <%= f.hidden_field :sublocality_level_2_ja %>
    <%= f.hidden_field :sublocality_level_3_ja %>
    <%= f.hidden_field :sublocality_level_4_ja %>
    <%= f.hidden_field :sublocality_level_5_ja %>
  </div>

  <div class="field">
    <%= f.file_field :avatar, :multiple => true, name: "pics[avatar][]" %>
  </div>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
