
<%= javascript_include_tag 'infinite-scroll' %>
<!-- views/show_post/index.html.erb -->
<div id="content">
  <%= render(partial: 'show_post', collection: @show_post) %>
</div>

<br/>

<% unless @show_post.current_page == @show_post.total_pages %>
  <div class="navigation" id="view-more">
    <%= link_to t('home.index.viewmore'), url_for(page: @show_post.current_page + 1), remote: true, :class => "ui button" %>
  </div>
<% end %>

<div class="ui horizontal list">
  <% @hot_users.each do |hot_user| %>
    <div class="item">
      <% if hot_user.image.thumb.url.nil? %>
        <%= link_to gravatar_for(hot_user), url_for(controller: :users, action: :show, id: hot_user.id), :class => "ui circular image" %>
      <% else %>
        <%= link_to image_tag(hot_user.image.thumb.url), url_for(controller: :users, action: :show, id: hot_user.id), :class => "ui circular image" %>
      <% end %>
      <div class="user-info">
        <div class="ui sub header"><%= hot_user.nickname %></div> <%= hot_user.sum_point %></div>
    </div>
  <% end %>
</div>
