<p id="notice"><%= notice %></p>

<h1>Contributions</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Post</th>
      <th>Diff</th>
      <th>Points</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @contributions.each do |contribution| %>
      <tr>
        <td><%= contribution.user_id %></td>
        <td><%= contribution.post_id %></td>
        <td><%= contribution.diff %></td>
        <td><%= contribution.point %></td>
        <td><%= link_to 'Show', contribution %></td>
        <% if @show_edit %>
          <td><%= link_to 'Edit', edit_contribution_path(contribution) %></td>
        <% end %>
        <td><%= link_to 'Destroy', contribution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contribution', new_contribution_path %>
