<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @contribution.user_id %>
</p>

<p>
  <strong>Post:</strong>
  <%= @contribution.post_id %>
</p>

<p>
  <strong>Diff:</strong>
  <%= @contribution.diff %>
</p>

<p>
  <strong>Point:</strong>
  <%= @contribution.point %>
</p>

<%= link_to 'Edit', edit_contribution_path(@contribution) %> |
<%= link_to 'Back', contributions_path %>
