<!-- views/posts/_pics.html.erb -->
<%= div_for(pics, class: "box") do %>
  <%= image_tag pics.avatar_url %>

  <div class="ui labeled button" tabindex="0">
    <div id="like-pic-<%= pics.id %>">
      <% if user_signed_in? && PicLike.find_by(key: "#{pics.id}_#{current_user.id}").nil? %>
        <div class="ui red button"><i class="heart icon"></i> <%= link_to 'いいね', url_for(controller: :posts, action: :like_pic, id: pics.id, user_id: current_user.id ), remote: true %></div>
      <% else %>
        <div class="ui disabled red button"><i class="heart icon"></i> いいね </div>
      <% end %>
    </div>
  </div>
  <a class="ui basic red left pointing label" id="pic-likes-<%= pics.id %>">
    <%= PicLike.find_by(key: "#{pics.id}_all").value.split(",").size %> Likes
  </a>

  Uploaded by <%= link_to User.find(pics.user_id).nickname, url_for(controller: :users, action: :show, id: pics.user_id) %>
<% end %>
