<p id="notice"><%= notice %></p>
<%= javascript_include_tag 'get-wiki' %>
<%= javascript_include_tag 'get-near-posts' %>

<p>
  <strong><%= t '.title' %></strong>
  <%= @post.name %>
</p>

<p>
  <strong><%= t '.creator' %></strong>
  <%= @post.author %>
</p>

<p>
  <strong><%= t '.address' %></strong>
  <%= @post.address %>
</p>

<p>

<div class="ui labeled button" tabindex="0">
  <div id="like-post">
    <% if user_signed_in? && !@like_by_current_user %>
      <div class="ui red button"><i class="heart icon"></i> <%= link_to 'いいね', url_for(controller: :posts, action: :like_post, id: @post.id, user_id: current_user.id ), remote: true %></div>
    <% else %>
      <div class="ui disabled red button"><i class="heart icon"></i> いいね </div>
    <% end %>
  </div>
  <a class="ui basic red left pointing label" id="post-likes">
    <%= @like_count %>
  </a>
</div>
</p>

<% if @user.uid != Settings.root.user_id %>
  <%= link_to "Post Edit", edit_post_path %>
<% end %>

<div id="content">
  <%= render(partial: 'pics', collection: @pics) %>
</div>

<% unless @pics.current_page == @pics.total_pages %>
  <p id="view-more">
    <%= link_to('View More', url_for(page: @pics.current_page + 1), remote: true, :class => "ui button") %>
  </p>
<% end %>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>


<div id="wiki_summary">Wikipedia取得中</div>

<%= t '.nearby_posts' %>
<div id="nearby_posts">
</div>

<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="comment_form">
        <%= render 'shared/comment_form' %>
      </section>
    </aside>
  </div>
<% end %>

<div class="col-md-8">
  <h3>Comments (<%= @comments.count %>)</h3>
  <ol class="comments">
    <%= render @comments %>
  </ol>
  <%= will_paginate @comments %>
</div>


<%#= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<script type="text/javascript">
    var handler;
	var markers;
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(18);
    });

    google.maps.event.addListener(handler.getMap(), 'dragend', function() {
      google.maps.event.addListener(handler.getMap(), 'idle', function() {
        console.log('set idle in get_near_post test');
        post_id = window.location.href.split("/").pop()
        ne_lat = handler.getMap().getBounds().getNorthEast().lat();
        ne_lng = handler.getMap().getBounds().getNorthEast().lng();
        sw_lat = handler.getMap().getBounds().getSouthWest().lat();
        sw_lng = handler.getMap().getBounds().getSouthWest().lng();
        zoom   = handler.getMap().getZoom();
        $.ajax({
          url: "/posts/renew_bounds",
          data: 'post_id=' + post_id + '&ne_lat=' + ne_lat + '&ne_lng=' + ne_lng + '&sw_lat=' + sw_lat + '&sw_lng=' + sw_lng + '&zoom=' + zoom
        })
      })
    });
</script>
