<p id="notice"><%= notice %></p>

<p>
  <strong><%= t '.title' %></strong>
  <%= @post.name %>
</p>

<p>
  <strong><%= t '.creator' %></strong>
  <%= @post.author %>
</p>

<p>
  <strong><%= t '.address' %></strong>
  <%= @post.address %>
</p>

<% if @user.uid != Settings.root.user_id %>
  <%= link_to "Post Edit", edit_post_path %>
<% end %>

<% @pics.each do |p| %>
  <%= image_tag p.avatar_url %>
  <%= link_to "Edit Attachment", edit_pic_path(p) %>
<% end %>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
</script>

<div id="nearby_posts">
<%= t '.nearby_posts' %>
<% @nearby_posts.each do |np| %>
  <p>
  <%= link_to np.name, np %>
  </p>
<% end %>
</div>

<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="comment_form">
        <%= render 'shared/comment_form' %>
      </section>
    </aside>
  </div>
<% end %>

<div class="col-md-8">
  <h3>Comments (<%= @comments.count %>)</h3>
  <ol class="comments">
    <%= render @comments %>
  </ol>
  <%= will_paginate @comments %>
</div>


<%#= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

