<div class="ui bottom fixed menu">
  <%= link_to t('home.index.title'), root_path, :class => "active item" %>
  <%= link_to "Post New", new_post_path, :class => "item" %>

  <% if user_signed_in? %>
    <div class="item">
      <%= link_to current_user.nickname, current_user %> <%= t 'layouts.application.signin1' %> <%= current_user.provider %> <%= t 'layouts.application.signin2' %>
      [<%= link_to 'Sign out', destroy_user_session_path, method: :delete  %>]
    </div>
  <% else %>
    <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, :class => "item" %>
    <%= link_to "Sign in with Twitter", user_twitter_omniauth_authorize_path,   :class => "item" %>
  <% end %>
</div>
