<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GMAP_KEY']}"%>
	<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  </head>

  <body>
    <div id="notify">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <div id="user-info">
      <%= link_to "Post New", new_post_path %>
      <br>
      <% if user_signed_in? %>
        <%= link_to current_user.uid, current_user %> が <%= current_user.provider %> 経由でサインインしています
        [<%= link_to 'Sign out', destroy_user_session_path, method: :delete  %>]
      <% else %>
        <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
        <br>
        <%= link_to "Sign in with Twitter", user_twitter_omniauth_authorize_path %>
      <% end %>
    </div>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
