<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="notify">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <div id="user-info">
      <% if user_signed_in? %>
        <%#= current_user.name %>
        [<%= link_to 'Sign out', destroy_user_session_path, method: :delete  %>]
      <% else %>
        <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
        <br>
        <%= link_to "Sign in with Twitter", user_twitter_omniauth_authorize_path %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
